body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.titulo {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#functionList {
  list-style-type: none;
  padding: 0;
}

#functionList li {
  margin-bottom: 5px;
}